<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
<div class="side-nav-button p-2 me-3 text-light">
<i class="fa-solid fa-bars">

</i>

</div>
<a class="navbar-brand px-4" href="#">ATMECS</a>
<div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li> <a routerLink="/home" routerLinkActive="active" role="button" aria-pressed="true" class="btn btn-link ">Home</a>
        </li>
        <li><a routerLink="/about" routerLinkActive="active"  role="button" aria-pressed="true" class="btn btn-link">About</a></li>
    </ul>
</div>

</nav>