<!-- Toolbar
<div class="toolbar" role="banner">
  <span>Welcome</span>
</div>

<div class="content" role="main">

  Highlight Card
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>


  <div class="card-container">
test
  </div>

  Footer
  <footer>
      Love Angular
  </footer>
</div>
<router-outlet></router-outlet> -->

<!-- 
<div class="container-fluid">
  <div class="header">
  <nav>
    <a routerLink="/home" routerLinkActive="active" role="button" aria-pressed="true" class="btn btn-link ">Home</a>
    <a routerLink="/about" routerLinkActive="active"  role="button" aria-pressed="true" class="btn btn-link">About</a>
  </nav>
  
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  
  <div class="footer">
    <h2>footer</h2>
  </div>
</div> -->
<div class="container-fluid g-0">

  <app-header></app-header>
  <main>

    <app-side-nav>
    </app-side-nav>
    <div class="display-area p-3">
      <!-- <p>Main Container</p> -->
      <router-outlet></router-outlet>

    </div>
    <app-right-nav></app-right-nav>
  </main>
  
  <app-footer></app-footer>
</div>